body{
    background-color: hsl(212, 45%, 89%) ; 
}

p{font-size: 15px;
    font-weight: 700;
    font-family: 'Outfit' ;
    text-align: center;
    margin: 5px 25px;
}

h6{
    font-weight: 400;
    font-family: 'Outfit';
    color: hsl(220, 15%, 55%);
    text-align: center;
    margin:  15px 25px;

}




.attribution {
    font-size: 11px; 
    text-align: center;
    margin-top: 100px;
}

.attribution a { color: hsl(228, 45%, 44%);
 }

.square{
        width: 200px ;
        margin: 10px ;
        border-radius: 8px;
        
    }

.middle   {
    width: 220px;
    height: 350px;
    background-color: hsl(0, 0%, 100%);
    margin: 200px  auto;
    border-radius: 15px;

}      